/* src/SignUp.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the modal is on top */
}

.content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 28%; /* Set a fixed width for the modal */
  position: relative; /* For positioning the close button */
}
